:root {
    --background: #000;
    --links:#E97EB8;
    --links-bg: #690B3E;
    --title-color: #fff;
    --border-color: #fff;
    --paragraph-color: #fff;
    --alert: #FBD1A3;
    --alert-bg: #815512;
    --trans-blue: #5bcffa;
    --trans-pink: #f5abb9;
    --trans-white: #ffffff;
    --box-shadow: rgba(100, 100, 111, 0.2);
}